* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

div.nav{
  display:flex;
  height: 100px;
  background-color: antiquewhite;
  justify-content: space-between;
}

div.nav > ul{
  list-style: none;
  display: flex;
}